<div layout="column" class="feedback-section">
	<div class="mar-top">
		<div layout="row">
			<div flex="25" layout="column" layout-align="start start">
				<div class="p-img"> <img src="http://placehold.it/30x20" /> </div>
				<div class="p-name f-bold"> Verified Patient </div>
			</div>
			<div flex="75" layout="column" layout-align="start start">
				<div class="p-feedback">
					I want for consultation on someone else's report. I was explained everything in detail. cleared a lot of things. very calm and clear. to the point suggestion. will recommend.
				</div>
				<span class="p-feed-time opac-60">Written 1 months ago</span>
			</div>
		</div>
		<md-divider></md-divider>			
	</div>
	<div class="mar-top">
		<div layout="row">
			<div flex="25" layout="column" layout-align="start start">
				<div class="p-img"> <img src="http://placehold.it/30x20" /> </div>
				<div class="p-name f-bold"> Patient Name </div>
			</div>
			<div flex="75" layout="column" layout-align="start start">
				<div class="p-feedback">
					I want for consultation on someone else's report. I was explained everything in detail. cleared a lot of things. very calm and clear. to the point suggestion. will recommend.
				</div>
				<span class="p-feed-time opac-60">Written 2 months ago</span>
			</div>
		</div>
		<md-divider></md-divider>			
	</div>
	<div class="mar-top">
		<div layout="row">
			<div flex="25" layout="column" layout-align="start start">
				<div class="p-img"> <img src="http://placehold.it/30x20" /> </div>
				<div class="p-name f-bold"> Verified Patient </div>
			</div>
			<div flex="75" layout="column" layout-align="start start">
				<div class="p-feedback">
					I want for consultation on someone else's report. I was explained everything in detail. cleared a lot of things. very calm and clear. to the point suggestion. will recommend.
				</div>
				<span class="p-feed-time opac-60">Written 4 months ago</span>
			</div>
		</div>
		<md-divider></md-divider>			
	</div>
	<!--<div layout="row" class="mar-top">
		Disclaimer: Prices are subject to change. Please call the diagnostic centre for latest prices.
	</div> -->
</div>