<div id="overview">
	<div><span class="f-bold">About Us</span> | Established in 1999 | Branch setup in 1999</div>
	<p class="mar-top">Anusha Clinical Laboratory was started in july 1999 as a super specialty hospital for nephro-urology care. We are one of south India's leading nephro-urology hospitals and Karnataka's first dedicated nephro-urology centre.Many of our professionals have been a part of Karnataka's first nephro-urology centre</p>
	<div layout="column" layout-gt-xs="row" class="mar-top-2">
		<div flex-gt-xs="50" layout-align="center center">
	        <i class="fa fa-bed" aria-hidden="true"></i> No. of Beds : <span class="f-bold">100</span>
	    </div>
	    <div flex-gt-xs="50" layout-align="center center">
	       <i class="fa fa-ambulance" aria-hidden="true"></i> No. of Ambulances: <span class="f-bold">5</span>
	    </div>
	</div>
	<div layout="column" layout-gt-xs="row" class="mar-top-2">
		<div flex-gt-xs="33" layout-align="center center">
	        <span><i class="fa fa-map-marker" aria-hidden="true"></i><span class="f-bold">Address</span></span>
	        <div class="mar-top">
	        	#6, Todkar Township, Sasane Nagar, Hadapsar, Landmark: Near Railway Crossing, Pune
	        </div>
	    </div>
	    <div flex-gt-xs="33" layout-align="center center">
	       <span><i class="fa fa-clock-o" aria-hidden="true"></i><span class="f-bold">Timings</span></span>
	       <div class="f-bold mar-top">Mon - Sat</div>
	       <div>8:00 AM - 11:00 PM</div>
	    </div>
	    <div flex-gt-xs="33" layout-align="center center">
	       <span><i class="fa fa-camera" aria-hidden="true"></i><span class="f-bold">Photos</span></span>
	       <div class="photos mar-top">
	       		<img src="http://placehold.it/30x30" />
	       		<img src="http://placehold.it/30x30" />
	       		<img src="http://placehold.it/30x30" />	       		
	       </div>
	    </div>
	</div>
	<div layout="column" layout-gt-xs="row" class="mar-top-2">
		<div flex-gt-xs="33" layout-align="center center">
	        <span><i class="fa fa-map-marker" aria-hidden="true"></i><span class="f-bold">Facilities</span></span>
	        <div class="mar-top">
	        	<span><i class="fa fa-home" aria-hidden="true"></i>Home sample pickup available</span>
	        </div>
	    </div>
	    <div flex-gt-xs="33" layout-align="center center">
	       <span><i class="fa fa-shield" aria-hidden="true"></i><span class="f-bold">Accredation</span></span>
	       <div class="mar-top">
				<span>NABL & CAP</span>
	       </div>
	    </div>
	    <div flex-gt-xs="33" layout-align="center center"></div>
	</div>
	<div layout="column" class="test-section mar-top-2">
		<div><span><i class="fa fa-stethoscope" aria-hidden="true"></i><span class="f-bold">Tests (INR)</span></span></div>
		<div class="opac-60">
			<div layout="row" class="mar-top">
				<div flex="75" layout="row" layout-align="start center">
			        <span class="f-bold">Tests/Packages</span>
			    </div>
			    <div flex="25" layout="row" layout-align="end end">
			       <span class="f-bold">Price (INR)</span>
			    </div>
			</div>
			<md-divider></md-divider>
		</div>
		<div class="mar-top opac-60">
			<div layout="row">
				<div flex="75" layout="column" layout-align="center start">
			        <span class="test-name f-bold">AEC</span>
			        <div class="test-description">
			        	also known as: Absolute Eosinophil Count, A.E.C, A.E.C Count, Abs Eosinophil Count, Absolute Eosinophil Count (AEC), Absolute Eosinophils Count (AEC), Absolute Eosinophil Count Test, Absolute Eosinophilic Count (AEC), Eosinophils, Ab. Eosinophil Count, Absolute Eosinophil Count (Blood), Absolute Eosinophils Count, AEC (Absolute Eosinophil Count) Test, AEC (Absolute Eosinophilic Count), AEC Count
			        </div>
			    </div>
			    <div flex="25" layout="row" layout-align="end center">
			       <span class="test-price f-bold">200</span>
			    </div>
			</div>
			<md-divider></md-divider>			
		</div>
		<div class="mar-top opac-60">
			<div layout="row">
				<div flex="75" layout="column" layout-align="center start">
			        <span class="test-name f-bold">BSL Random</span>
			        <div class="test-description">
			        	also known as: Glucose (Blood), Blood Sugar Level, Blood Glucose Level, Blood Sugar, Blood Glucose Levels (Sugar), Blood Glucose, Blood Sugar PG (Post Glucose) 50 gms, Blood Sugar PG (Post Glucose) 75 gms, Blood Sugar Test, BSL, FBS / PLBS, PLBS, Glucose (Post Prandial) (Blood) (Pre Lunch), Glucose (Fasting) (Blood)
			        </div>
			    </div>
			    <div flex="25" layout="row" layout-align="end center">
			       <span class="test-price f-bold">300</span>
			    </div>
			</div>
			<md-divider></md-divider>			
		</div>
		<div layout="row" class="mar-top">
			Disclaimer: Prices are subject to change. Please call the diagnostic centre for latest prices.
		</div>
	</div>
</div>