<div layout="column" class="test-section">
	<div><span><i class="fa fa-stethoscope" aria-hidden="true"></i><span class="f-bold">Tests</span></span></div>
	<div class="opac-60">
		<div layout="row" class="mar-top">
			<div flex="75" layout="row" layout-align="start center">
				<span class="f-bold">Tests/Packages</span>
			</div>
			<div flex="25" layout="row" layout-align="end end">
				<span class="f-bold">Price (INR)</span>
			</div>
		</div>
		<md-divider></md-divider>
	</div>
	<div class="mar-top opac-60">
		<div layout="row">
			<div flex="75" layout="column" layout-align="center start">
				<span class="test-name f-bold">AEC</span>
				<div class="test-description">
					also known as: Absolute Eosinophil Count, A.E.C, A.E.C Count, Abs Eosinophil Count, Absolute Eosinophil Count (AEC), Absolute Eosinophils Count (AEC), Absolute Eosinophil Count Test, Absolute Eosinophilic Count (AEC), Eosinophils, Ab. Eosinophil Count, Absolute Eosinophil Count (Blood), Absolute Eosinophils Count, AEC (Absolute Eosinophil Count) Test, AEC (Absolute Eosinophilic Count), AEC Count
				</div>
			</div>
			<div flex="25" layout="row" layout-align="end center">
				<span class="test-price f-bold">200</span>
			</div>
		</div>
		<md-divider></md-divider>			
	</div>
	<div class="mar-top opac-60">
		<div layout="row">
			<div flex="75" layout="column" layout-align="center start">
				<span class="test-name f-bold">BSL Random</span>
				<div class="test-description">
					also known as: Glucose (Blood), Blood Sugar Level, Blood Glucose Level, Blood Sugar, Blood Glucose Levels (Sugar), Blood Glucose, Blood Sugar PG (Post Glucose) 50 gms, Blood Sugar PG (Post Glucose) 75 gms, Blood Sugar Test, BSL, FBS / PLBS, PLBS, Glucose (Post Prandial) (Blood) (Pre Lunch), Glucose (Fasting) (Blood)
				</div>
			</div>
			<div flex="25" layout="row" layout-align="end center">
				<span class="test-price f-bold">300</span>
			</div>
		</div>
		<md-divider></md-divider>			
	</div>
	<div layout="row" class="mar-top">
		Disclaimer: Prices are subject to change. Please call the diagnostic centre for latest prices.
	</div>
</div>