<div class="banner" ng-controller="searchCtrl as Sctrl" ng-cloak="">
			<div class="wrapper">
				<h1 class="banner-title">Save on Medical Bills</h1>
				<p class="banner-desc">Search Health Clinics. Compare Prices. Schedule Appointment or Home Collection.</p>				
				
				<div layout="column" layout-align="center center" class="search-wrapper">
					<!-- <h1 class="md-title">Pick your pizza below</h1> -->
					<div layout-gt-sm="row" layout-sm="column" layout-xs="column" class="search-content">

					 	<!--					
						<md-autocomplete md-selected-item="selectedLocality"
									md-search-text="searchLocation"
									md-items="locality in getCity(searchLocation)"
									md-item-text="locality"
									md-min-length="0"
									md-no-cache="false"
									md-selected-item-change="onCitySelect()"
									placeholder="Select Locality"
									md-floating-label="Locality">
											<md-item-template>
											<span md-highlight-text="searchText">{{locality}}</span>
											</md-item-template>
											<md-not-found>This city is not Available</md-not-found>
						</md-autocomplete> 
						-->
						<place-autocomplete ng-model="location"></place-autocomplete>

						<!--
						<input type="text" id="myserarch" />

						<md-autocomplete md-input-id="myserarch" md-selected-item="selectedItem"
									md-search-text="searchloc"
									md-items="item in initAutocomplete()"
									md-item-text="item"
									md-min-length="0"
									md-no-cache="false"
									md-selected-item-change=""
									placeholder="Select city"
									md-floating-label="City">
											<md-item-template>
											<span md-highlight-text="searchloc">{{item}}</span>
											</md-item-template>
											<md-not-found>This city is not Available</md-not-found>
						</md-autocomplete> -->

						<md-autocomplete class="searchCategort" md-selected-item="selectedItem"
									md-search-text="searchText"
									md-items="item in getCity(searchText)"
									md-item-text="item"
									md-min-length="0"
									md-no-cache="false"
									md-selected-item-change="onCitySelect()"
									placeholder="Select category"
									md-floating-label="Category">
											<md-item-template>
											<span md-highlight-text="searchText">{{item}}</span>
											</md-item-template>
											<md-not-found>This city is not Available</md-not-found>
						</md-autocomplete>


						<md-autocomplete md-selected-item="selectedItem"
									md-search-text="searchText"
									md-items="item in getCity(searchText)"
									md-item-text="item"
									md-min-length="0"
									md-no-cache="false"
									md-selected-item-change="onCitySelect()"
									placeholder="Select city"
									md-floating-label="Test">
											<md-item-template>
											<span md-highlight-text="searchText">{{item}}</span>
											</md-item-template>
											<md-not-found>This city is not Available</md-not-found>
						</md-autocomplete>

					<!--
					  <md-input-container>
						<label>Category</label>
						<md-select ng-model="size">
						  <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
						</md-select>
					  </md-input-container>
					-->

					  <!-- <md-input-container>
						<label>Categort</label>
						<md-select ng-model="selectedToppings" multiple="">
						  <md-optgroup label="Meats">
							<md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
						  </md-optgroup>
						  <md-optgroup label="Veggies">
							<md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
						  </md-optgroup>
						</md-select>
					  </md-input-container> -->

					<md-button class="search-button" ng-click="searchFor()">
						<span class="findBtn">Find</span>
						<md-icon md-menu-align-target md-svg-icon="images/ic_search_24px.svg"></md-icon>
					</md-button>					
					<div class="clear"></div>
					</div>
					<!-- <div class="h-packages">
						<a href="#"><span>Explore</span>
						Health Packages</a>
					</div> -->
				</div>
				
				<div class="h-packages">
						<a href="#"><span>Explore</span>
						Health Packages</a>
				</div>
				
				<!--
				<div layout="column" layout-align="center center" style="background:rgba(0,0,0,.5);">
					<md-select placeholder="select city" ng-model="city" md-on-open="loadCities()" style="min-width: 200px;">
					  <md-option ng-value="city" ng-repeat="city in cities" ng-cloak="">{{ city }}</md-option>
					</md-select>  
					
					<p class="md-caption">You have assigned the task to: {{ city }}</p>
					
					<form ng-submit="$event.preventDefault()" name="searchForm">
					  <p>The following example demonstrates floating labels being used as a normal form element.</p>
					  <div layout-gt-sm="row">
						<md-input-container flex>
						  <label>Name</label>
						  <input type="text"/>
						</md-input-container>
						<md-autocomplete flex required
							md-input-name="autocompleteField"
							md-input-minlength="2"
							md-input-maxlength="18"
							md-no-cache="Sctrl.noCache"
							md-selected-item="Sctrl.selectedItem"
							md-search-text="Sctrl.searchText"
							md-items="item in Sctrl.querySearch(Sctrl.searchText)"
							md-item-text="item.display"
							md-require-match
							md-floating-label="Favorite state">
						  <md-item-template>
							<span md-highlight-text="Sctrl.searchText">{{item.display}}</span>
						  </md-item-template>
						  <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
							<div ng-message="required">You <b>must</b> have a favorite state.</div>
							<div ng-message="md-require-match">Please select an existing state.</div>
							<div ng-message="minlength">Your entry is not long enough.</div>
							<div ng-message="maxlength">Your entry is too long.</div>
						  </div>
						</md-autocomplete>
					  </div>
					</form>
				</div> -->
				
				<!--
				<div class="search-block">			
					<div class="custom-select category-select">
						<select>
							<option>Category</option>
							<option>Category 1</option>
							<option>Category 2</option>
							<option>Category 3</option>
						</select>
					</div>
					<div class="custom-select search-select">
						<select>
							<option>Search Diagnostic Test</option>
							<option>Category 1</option>
							<option>Category 2</option>
							<option>Category 3</option>
						</select>
					</div>
					<input type="submit" value="Next" class="search-btn" />
				</div>
				-->

				
			</div>
		</div>