		<!-- custome new footer -->
		<md-toolbar>
		<footer>
                    <div class="social">
                        <ul>
							<li>
                                <a href="https://www.facebook.com/ihealthMantra"><span class="icon icon-facebook">
									<md-button class="md-icon-button" aria-label="Settings" ng-disabled="">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</md-button>									
								</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ihealthMantra"><span class="icon icon-twitter">
								<md-button class="md-icon-button" aria-label="Settings" ng-disabled="">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</md-button></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/6645935"><span class="icon icon-linkedin">
								<md-button class="md-icon-button" aria-label="Settings" ng-disabled="">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
								</md-button>
								</span></a>
                            </li>
                        </ul>
                    </div>

                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="/appointments">Appointments</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="https://blog.ihealthmantra.com">Blog</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="/about-us">About</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="/contact-us">Contact Us</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="#/terms">Terms and Conditions</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        <li>
                            <!-- <span> • </span> --><a href="/faq">FAQ</a>
                        </li>	                 
                    </ul>

                    <div class="copyright">
                        <div class="subtitle fancy"><span>© 2016 iHealthMantra. All rights reserved. </span></div>
                    </div>
                </footer>
		</md-toolbar>
		<!-- End custome new footer -->		
		
		