<link rel="stylesheet" type="text/css" href="./style/school.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="school-page" ng-controller="headerCtrl as Hctrl">
<!-- <md-toolbar class="seller-toolbar container">
      <div class="md-toolbar-tools">
        <h2>
          <md-icon md-svg-src="../images/ic_nature_people_24px.svg" class="name"></md-icon>
          <span class="queue-lbl">Queues</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Create" ng-click="createQueue()">
          create
        </md-button>
        <md-button class="md-raised" aria-label="Delete">
          Delete
        </md-button>
      </div>
    </md-toolbar> -->

    <div class="school-banner">
      <div class="text">
        Innovative School Health Programs
      </div>
    </div>

    <div class="container">
      <div class="school-boxes" layout="column">
        <div layout="column" layout-gt-sm="row" >
          <md-card flex-gt-sm="50" layout-gt-sm="row" layout-align="center center">
            <div flex-gt-sm="50">
             <img src="./images/school/ent-program.jpg" class="" alt="ent program" /> 
           </div>
           <div flex-gt-sm="50">
            <h3 class="school-box-title">ENT Program</h3>
            <span class="box-text">A general check up for eyes, nasal track and throat. It helps to detect abnormal vision, tonsillitis, allergies related to nasal tract, inflammations etc.</span>
          </div>
        </md-card>

        <md-card flex-gt-sm="50" layout-gt-sm="row" layout-align="center center">
          <div flex-gt-sm="50">
           <img src="./images/school/full-body-general-checkup.jpg" alt="" /> 
         </div>
         <div flex-gt-sm="50">
          <h3 class="school-box-title">Full Body General Checkup</h3>
          <span class="box-text">General checkup for Nails, Skin, Abdomen, Mouth and Teeth etc. are covered . Temperature, Posture, Signs of inflammation, Height and Weigh are also part of it.</span>
        </div>
      </md-card> 
    </div>

    <div layout="column" layout-gt-sm="row" >
      <md-card flex-gt-sm="50" layout-gt-sm="row" layout-align="center center">
        <div flex-gt-sm="50">
         <img src="./images/school/dial-physical-activity-program.jpg" alt="" /> 
       </div>
       <div flex-gt-sm="50">
        <h3 class="school-box-title">Diet And Physical Activity Program</h3>
        <span class="box-text">Early signs for malnutrition or deficiency, Musculo-Skeletal abilities and posture are checked in kids at par to their age.</span>
      </div>
    </md-card>

    <md-card flex-gt-sm="50" layout-gt-sm="row" layout-align="center center">
      <div flex-gt-sm="50">
       <img src="./images/school/i-care-psycology.jpg" alt="i-care-psycology" /> 
     </div>
     <div flex-gt-sm="50">
      <h3 class="school-box-title">I-Care And Psychology</h3>
      <span class="box-text">Early signs of stress and anxiety, Hyper and hypo activity, Memory and Intelligence.
        “I-care” a mandatory workshop run by Govt. of India to control child abuse in schools. This work shop for kids cover many topics like difference between good and bad touch, run to safety etc</span>
      </div>
    </md-card> 
  </div>


   <!-- <div layout="column" layout-gt-xs="row" >
    <md-card flex-gt-xs="50">
        <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
    </md-card>
    <md-card flex-gt-xs="50">
        <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
    </md-card>
   </div>

   <div layout="column" layout-gt-xs="row" >
    <md-card flex-gt-xs="50">
        <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
    </md-card>

    <md-card flex-gt-xs="50">
        <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>   
   </div>
   <div layout="column" layout-gt-xs="row" >
    <md-card flex-gt-xs="50">
        <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
        <div class="content-wrapper">
          <md-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
        </div>
    </md-card>
    <md-card flex-gt-xs="50">
        <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
        <div class="content-wrapper">
          <md-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </md-card-content>
        </div>
    </md-card>
   </div>

   <div layout="column" layout-gt-sm="row" >
      <md-card flex-gt-sm="50">
          <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              </p>
            </md-card-content>
      </md-card>
      <md-card flex-gt-sm="50">
          <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              </p>
            </md-card-content>
      </md-card>
      <md-card flex-gt-sm="50">
          <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share
              </p>
            </md-card-content>
      </md-card>
      <md-card flex-gt-sm="50">
          <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-card-image" alt="Washed Out" />
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
              </p>
            </md-card-content>
      </md-card>
    </div> -->
    
  </div>
  
  <div class="school-benefits">
    <md-card  layout="column" layout-gt-sm="row" layout-align="center center">
         <div flex-gt-sm="50" class="benefits-img">
         </div>
         <div flex-gt-sm="50" class="benefits">
            <h2>Benefits to Kids</h2>
            <div>
              <ul>
                <li><!-- <i class="fa fa-check" aria-hidden="true"></i> -->Reduced school absenteeism.</li>
                <li>Less behavioral problems.</li>
                <li>Higher Fitness Levels for Sports & Cultural activities.</li>
                <li>Improves student Academic performance.</li>
                <li>Positive spirit & relation between educators & students.</li>
                <li>Health awareness made a part of child’s life.</li>
                <li>Helps child to stay safe and protected.</li>
              </ul>
            </div>            
            <md-button class="contact-now" ng-click="Hctrl.showPrerenderedDialog($event);">Contact Now</md-button>
        </div>
      </md-card>
  </div>


  <!-- <div class="benefit-section" layout="column" layout-align="start center">
     <div class="school-benefits">
        <h2>Benefits to Kids</h2>
        <div>
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i>Reduced school absenteeism.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Less behavioral problems.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Higher Fitness Levels for Sports & Cultural activities.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Improves student Academic performance.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Positive spirit & relation between educators & students.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Health awareness made a part of child’s life.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i>Helps child to stay safe and protected.</li>
          </ul>
        </div>
      </div>
    <md-button class="contact-now" ng-click="Hctrl.showPrerenderedDialog($event);">Contact Now</md-button>
  </div> -->
</div>
</div>