body,html{
	background-color: #efefef;
	height: inherit !important;
}

div.left-filter-section {
    width: 21%;
    height:100%;
    padding:1%;
    background-color: #ffffff;
    float: left;
    margin-right: 0.5%;
}

md-content.results {
	width: 78.5%;
    background-color : #ffffff;
    height:100%;
    /*padding:1%;*/
    float: left;
}

.left-filter-section h4{
	padding: 2% 0;
}

span.pickedRange{
	font-size: 13px;
    float: right;
    color: #49a4d4;
}

#search-results-content{
	margin: 1% auto;
}

.results-title{
	font-size: 18px;
	padding: 1%;
}

.filter-title .md-subheader{
	background: #22a468; /* #49a4d4;*/
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

#selectedRange span input{
	width: 35%;
    text-align: center;
}

/*#rating-filter>div>div{
	text-align: center;	
}*/

md-content.results .md-headline{
	color: #49a4d4;
    font-weight: 600;
}

.price{
	padding: 2%;
	font-weight: 500;
	font-size: 25px;
	color: #000;
	align-self: center;
}

md-card:hover{
	box-shadow: 0px 0px 4px 1px #49a4d4;
}

md-card:hover > md-card-actions button.md-button{
	background: #0a87c7;
}

md-content.results md-card .md-button{
	color: #fff;
	background: #49a4d4;
	text-transform: capitalize;
}

.md-button.datepickerCustom .md-datepicker-button.md-icon-button:hover{
	background:#0977b1;
}

md-card .md-button.md-default-theme:not([disabled]):hover, md-card .md-button:not([disabled]):hover{
	background: #4b87f1;
}

.md-datepicker-input-mask{
	height: 0;
}


md-card md-card-title md-card-title-media .md-media-custom{
	width: 200px;
	/*height: 200px;*/
}


/* Angular Carousel */
.jk-carousel .radio-buttons-container{
	margin-bottom: 2%;
	margin-left: 2%;
	display:none;
}

md-content.results md-card .jk-carousel .left-arrow-button,
md-content.results md-card .jk-carousel .left-arrow-button:hover{
	background: transparent;
	color: transparent;
	background-image: url(../images/ic_keyboard_arrow_left_white_24dp.png);
	background-repeat: no-repeat;
	background-size: contain;
}

md-content.results md-card .jk-carousel .right-arrow-button,
md-content.results md-card .jk-carousel .right-arrow-button:hover{
	background: transparent;
	color: transparent;
	background-image: url(../images/ic_keyboard_arrow_right_white_24dp.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.jk-carousel .md-icon-button md-icon{
	color: transparent;
}

/* Angular Star Rating */
.jk-rating-stars-container .star-button.star-on .material-icons {
    color: #f3c72d;
}

.jk-rating-stars-container .button .material-icons {
    font-size: 25px;
}

.jk-rating-stars-container .star-button.star-off .material-icons {
    color: #dddddd;
}

.lab-rating .jk-rating-stars-container{
	display: inline-block;
}

.jk-rating-stars-container .star-button {
    text-shadow: none;
}

.results .jk-rating-stars-container .button .material-icons {
    font-size: 20px;
}

.bookingDate .md-datepicker-input-container{
	width: 0;
}

.bookingDate .md-datepicker-input-container .md-datepicker-input{
	opacity: 0;
}

.bookingDate md-datepicker{
	padding-right: 0px;
}

.bookingDate md-datepicker md-icon{
	color: #ffffff;
}

.bookNowTitle{
    padding-left: 7%;
    vertical-align: middle;
}

/*.belowImg{
	margin-left: 0 20px;
}*/

.belowImgBookDate{
	margin: 0 10%;
}

.lab-address{
	color: #000;
}

.lab-address .fa.fa-map-marker.fa-lg{
	cursor: pointer;
}

.compare-btn md-switch, #amenity-filter md-switch{
	margin: 0;
}

.compare-btn{
	background: #22a468 !important;
}

.compare-btn md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb{
	background-color: #49a4d4; /*#0eef87*/
}

.compare-btn md-switch .md-container{
	width: 26px;
	margin-right: 0px;
}

.compare-btn md-switch .md-bar{
	width: 0px;
}

.compare-btn md-switch.md-checked .md-thumb-container{
	transform: none;
	-webkit-transform: none;
}


md-slider#price-slider .md-sign .md-thumb-text{
	font-size: 10px;
}

.left-filter-section md-slider.md-default-theme.md-primary .md-track.md-track-fill, 
.left-filter-section md-slider.md-primary .md-track.md-track-fill,
.left-filter-section md-slider.md-default-theme.md-primary .md-sign, 
.left-filter-section md-slider.md-primary .md-sign{
	    background-color: #49a4d4;
}

.left-filter-section md-slider.md-default-theme.md-primary .md-sign:after,
.left-filter-section md-slider.md-primary .md-sign:after{
	    border-top-color: #49a4d4;
}


.left-filter-section md-slider.md-default-theme.md-primary .md-thumb:after, 
.left-filter-section md-slider.md-primary .md-thumb:after{
	border-color: #49a4d4;
	background-color: #49a4d4;
}

.left-filter-section md-switch.md-default-theme .md-bar, .left-filter-section md-switch .md-bar,
.left-filter-section md-switch.md-default-theme.md-checked.md-primary .md-thumb, 
.left-filter-section md-switch.md-checked.md-primary .md-thumb,
.left-filter-section md-switch.md-default-theme.md-checked.md-primary .md-bar,
.left-filter-section md-switch.md-checked.md-primary .md-bar{
	background-color: #49a4d4;
}

.left-filter-section md-checkbox.md-default-theme:not([disabled]).md-primary:not(.md-checked) .md-icon, 
.left-filter-section md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon{
	border-color: #49a4d4;
}


.left-filter-section md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon,
.left-filter-section md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: #49a4d4;
}


md-checkbox.customCheckbox .md-icon{
	border-radius: 50%;
}

.price1{
	display: none;
}

.filter-subtitle-apply{
	display: none;
}

/*#rating-filter .starWrapper{
	align-items: center;
	padding-left: 15%;
}*/

.md-datepicker-calendar-pane.md-pane-open{
	left: 30% !important;
    top: 10% !important;
}

.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
    background: #49a4d4;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, 
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, 
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, 
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
	background: #49a4d4;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator{
	border:1px solid #49a4d4;
}

span.original-price {
    font-size: 15px;
    text-decoration: line-through;
    color: #777171;
    margin-right: 5px;
}


/* css for ss Box*/

/* Make tabbing Section full width */
md-card-actions md-content.tabs{
	width: 100%;
}

md-nav-bar.tabbing ul._md-nav-bar-list{
	background:#ffffff;
}

.ext-content p{
	color: red;
}

.lab_rating_img{
	width: 15%;
	float: left;
	padding: 1%;
}

.lab_short_info{
	width: 85%;
	float: left;
	padding: 1%;
	border-left: 1px solid #c3baba;
}

.lab_rating_cust_count{
	color: #49a4d4;
}

.select_timeslot_lbl{
	color: #49a4d4;
	font-size: 0.8em;
}

.timeslot_selection .md-button.md-raised .md-ripple-container:hover{
	background: #49a4d4;
}


.lab_booking_slots{
	background:#efefef;
	max-width: 90%;
	border-radius: 10px;
	padding: 1%;
}

.lab_booking_header{
	font-size: 1.3em;
}

.lab_facilities_icons, .lab_facilities_lbl{
	padding: 1%;
}

.lab_facilities_icons span{
	cursor: pointer;
}

.lab_facilities_lbl{
	width: 14%;
	float: left;
}
.lab_facilities_icons{
	width: 88%;
	float: left;
}

span.lab_facilities_icons span{
	margin:0 1% 0 0;
}

md-card md-card-title md-card-title-media .md-media-custom{
	width: 200px;
	/*height: 200px;*/
}

md-card md-card-title md-card-title-media .md-media-custom1{
	width: 250px;
	/*height: 200px;*/
}

.color-overwrite md-icon.md-default-theme, .color-overwrite md-icon{
	color: #000;
}

.more-slots md-icon.md-default-theme, .more-slots md-icon{
	color: #ffffff;
}

.more-slots span{
	text-transform: none;
}

md-content.results md-card .timeslot_selection .md-button{
	margin: 6px 3px;
	min-width: 0;
	min-height: 0;
	background:#ffffff;
	color: #000000;
}

md-content.results md-card .timeslot_selection .md-button:hover{
	color: #ffffff;
}

md-content.results md-card .timeslot_selection .md-button.active{
	background: #49a4d4;
	color: #ffffff;
}

md-card-title-media .price-compare-btn{
	margin:3px;
}

.price-compare-btn .md-button.price-section{
	margin: 2px 0;
	padding: 0;
}

.price-compare-btn span.pricefinal{
	font-size: 22px;
}

.price-compare-btn > div{
	display: inline-flex; /*inline-block;*/
}

.price-compare-btn .md-button.add-compare,.price-compare-btn .md-button.get-distance{
	margin:2px 4px;
}

.price-compare-btn .md-button.get-distance{
	background: #1f6990;
}

.price-compare-btn .md-button.get-distance:hover{
	background: #1f6990;
}

.price-compare-btn .md-button.add-compare{
	background: #807878;
}

.price-compare-btn .discount{
	background: #1f6990;
}

.md-subhead.color-overwrite{
	color: #000000 !important;
}


.add-compare md-checkbox{
	margin:0;
}

.add-compare md-checkbox.md-default-theme.md-checked .md-icon, .add-compare md-checkbox.md-checked .md-icon{
	background-color: #49a4d4;
	border-radius: 50%;
}

.add-compare md-checkbox.md-default-theme:not(.md-checked) .md-icon, .add-compare md-checkbox:not(.md-checked) .md-icon{
	border-color: #ffffff;
	border-radius: 50%;
}


.add-compare md-checkbox.md-default-theme.md-checked .md-icon:after, .add-compare md-checkbox.md-checked .md-icon:after{
	border-color: #ffffff; 
}

md-nav-bar.tabbing button._md-nav-button.md-accent.md-button.ng-scope.md-default-theme.md-ink-ripple.md-active.md-primary {
    background: #efefef;
}

md-nav-bar.tabbing button.md-button._md-nav-button{
	background: #fff;
    color: #49a4d4;
    text-transform: capitalize;
}

md-nav-bar.tabbing button.md-button._md-nav-button:hover{
	background: #efefef;
}

md-nav-bar.tabbing .md-nav-item:first-of-type{
	margin-left:0;
}

md-nav-bar.md-default-theme.tabbing md-nav-ink-bar, md-nav-bar.tabbing md-nav-ink-bar{
	color: #49a4d4;
	background: #49a4d4;
}


.jk-carousel{
	height: 200px !important;
}

.mob-show{
	display: none;
}
/* end of css for ss Box */








@media only screen and (max-width:1024px){

	div.left-filter-section{
		width: 25%;
	}

	md-content.results {
		width: 74.5%;
	}

	.lab_facilities_lbl {
    	width: 20%;
	}

}


@media only screen and (max-width:992px){

	.lab_booking_header {
    	font-size: 1.2em;
	}

}


@media only screen and (max-width:960px){
	/*md-card md-card-title md-card-title-media .md-media-custom{
		
	}*/

	.lab_booking_header {
    	font-size: 1em;
	}
}


@media only screen and (max-width:900px){
	
	/*.price1{
		position: absolute;
    	top: 65%;
    	font-size: 20px;
    	font-weight: 600;
    	display: block;
	}

	.price{
		display: none;
	}*/

	.md-headline.lab-title{
		font-size: 20px;
	}

	md-content.results md-card .timeslot_selection .md-button {
    	margin: 2px 1px;
    	font-size: 13px;
    	padding: 0 3px;
	}


	md-content.results md-card .md-button.more-slots{
		font-size: 12px;
    	margin: 3px 0px;
	}

}


@media only screen and (max-width:768px){

	div.left-filter-section{
		width: 100%;
		margin-bottom: 10px;
	}

	md-content.results{
		width: 100%;
	}

	.filter-criteria{
		display: none;
	}

	.filter-subtitle-apply{
		display: inline-block;
		margin-right: 1px;
	}

	.md-subhead.color-overwrite{
		font-size: 12px;
	}

}


@media only screen and (max-width:600px){
	md-card md-card-title md-card-title-media .md-media-custom{
		width: 150px;
	}

	.lab-address{
		font-size: 13px;
	}

	.results md-card md-card-title md-card-title-media{
		margin-top: 0;
	}

	.price1{
		position: absolute;
    	top: 65%;
    	font-size: 20px;
    	font-weight: 600;
    	display: block;
	}

	.price{
		display: none;
	}

	md-content.results md-card .timeslot_selection .md-button {
    	font-size: 12px;
	}

	.lab_facilities_lbl {
    	width: 25%;
	}

	.jk-carousel{
		height: 150px !important;
	}

	.mob-show{
		display: inherit;
	}

	.desk-show{
		display: none;
	}

}

@media only screen and (max-width:480px){

	md-content.results .md-headline {
	    width: 70%;
	}

	.left-filter-section{
		font-size: 13px;
	}

	.results md-card-title-media{
		position: absolute;
		right: 5%;
    	/*top: 8%;*/
	}

	.price1{
		right: 20%;
    	top: 125%;
	}

	.md-headline.lab-title{
		font-size: 15px;
	}

	.lab-address {
    	font-size: 12px;
	}

	.bookNowTitle, .compare-btn md-switch .md-label{
		font-size: 12px;
	}

	.compare-btn md-switch .md-thumb, md-switch .md-thumb:before{
		left: 8px;
    	top: 4px;
	}

	.compare-btn md-switch .md-thumb{
		height: 12px;
    	width: 12px;
	}

	.results md-card md-card-title{
		padding:0; /*4px 4px 3px*/
	}

	.results-title {
    	font-size: 15px;
    }


    md-card md-card-title md-card-title-media .md-media-custom{
		width: 100px;
	}

	.md-subhead.color-overwrite{
		width: 70%;
	}

	.jk-carousel {
    	height: 100px !important;
	}

	md-content.results md-card{
		margin: 0 2px;
	}

	.results md-card-title-media{
		right: 1%;
	}

	md-card-title-media .price-compare-btn{
		margin: 0 0;
	}

}

@media only screen and (max-width:420px){	

	.price1{
		color: #49a4d4;
	}

	.md-subhead .md-button{
		padding: 0 0px;
    	margin: 2px 3px;
    	height:35px;
	}

	md-card md-card-title md-card-title-media .md-media-custom{
		width: 90px;
	}

	.md-subhead.color-overwrite, .lab-address, md-content.results .md-headline{
		width: 63%;
	}

	.price-compare-btn .md-button.add-compare, .price-compare-btn .md-button.get-distance{
		margin: 2px 0px;
	}

	.lab_booking_slots{
		max-width: 100%;
	}

}


/*@media only screen and (max-width: 320px){

	.md-subhead.color-overwrite{
		width: 100%;
	}

	.lab_short_info, md-content.results .md-headline{
		width: 63%;
	}
}*/